.godglow {
  -webkit-animation: glow 6s ease-in-out infinite alternate;
  -moz-animation: glow 6s ease-in-out infinite alternate;
  animation: glow 6s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px rgba(160, 102, 1,.75);
  }
  to {
    text-shadow: 0 0 1px rgba(153, 99, 6,.75), 0 0 1.1px rgba(153, 99, 6,.75), 0 0 1.2px rgba(153, 99, 6,.75), 0 0 1.3px rgba(153, 99, 6,.75), 0 0 1.3px rgba(153, 99, 6,.75), 0 0 1.3px rgba(153, 99, 6,.75);
  }
}
.tw-core-button--primary {
	background: #8f40ef !important;
}

.shirt-box {
  z-index: 100000;
  top: 10vh;
  left: 10vh;
  position: fixed;
  display: flex;
  min-width: 15vw;
  max-width: 1000px;
  overflow-x: scroll;
  background: rgba(0,0,0,.5)
}
.shirt-img {
  max-width: 150px;
  padding: 10px;
}
.shirt-text {
  padding: 8px;
}
.shirt {
  display: inline-block;
  flex: 1;
  padding: 8px;
}
.docs-box {
  z-index: 100000;
  top: 12vh;
  left: 10vh;
  position: fixed;
  min-width: 262px;
  max-width: 1000px;
  max-height: 500px;
  transition: opacity 1s;
  /* background: rgba(0,0,0,.5) */
}
.docs-box h3 {
  position: fixed;
  top: 7.5vh;
}
.docs-box ul {
  list-style: disc;
}
.schedule-box {
  z-index: 100000;
  top: 10vh;
  left: 10vh;
  position: fixed;
  min-width: 10vw;
  max-width: 1000px;
  max-height: 500px;
  overflow-y: scroll;
  transition: opacity 1s;
  /* background: rgba(0,0,0,.5) */
}

.schedule-box h3 {
  position: fixed;
  top: 7.5vh;
}

.schedule-item {
  font-size: 1em;
}
.schedule-row {
  display: grid;
  padding: 1vw;
  border-bottom: 3px solid rgba(0,0,0,.2);
  grid-template-areas: 'time' 'game' 'runner';
}
.game {
  font-size: 1.5rem;
  grid-area: game;
}
.runners {
  font-style: italic;
  grid-area: runner;
}
.time {
  opacity: .8;
  grid-area: time;
}